In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn import metrics

Data Collection and Processing

In [7]:
car_dataset = pd.read_csv("C:\\Users\\tharu\\Desktop\\ml-projects\\Car-price-Prediction\\Car.csv")

In [67]:
# frist 5 rows
car_dataset.head(100)

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,0,1,0,0
1,Maruti Wagon R LXI Minor,2007,135000,50000,0,1,0,0
2,Hyundai Verna 1.6 SX,2012,600000,100000,1,1,0,0
3,Datsun RediGO T Option,2017,250000,46000,0,1,0,0
4,Honda Amaze VX i-DTEC,2014,450000,141000,1,1,0,1
...,...,...,...,...,...,...,...,...
95,Fiat Avventura MULTIJET Emotion,2015,350000,53000,1,1,0,1
96,Audi A8 4.2 TDI,2013,2800000,49000,1,0,1,0
97,Datsun RediGO 1.0 S,2017,210000,15000,0,0,0,1
98,Volkswagen Jetta 1.4 TSI Comfortline,2013,450000,50000,0,1,0,0
99,Audi A4 2.0 TDI 177 Bhp Premium Plus,2013,1150000,53000,1,0,1,0

In [9]:
# checking the number of rows and columns
car_dataset.shape

(4340, 8)

In [10]:
# get the information about the dataset
car_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4340 entries, 0 to 4339
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           4340 non-null   object
 1   year           4340 non-null   int64
 2   selling_price  4340 non-null   int64
 3   km_driven      4340 non-null   int64
 4   fuel           4340 non-null   object
 5   seller_type    4340 non-null   object
 6   transmission   4340 non-null   object
 7   owner          4340 non-null   object
dtypes: int64(3), object(5)
memory usage: 271.4+ KB

In [11]:
#checking the missing values
car_dataset.isnull().sum()

name             0
year             0
selling_price    0
km_driven        0
fuel             0
seller_type      0
transmission     0
owner            0
dtype: int64

In [19]:
# checking the distribution of categorical data
print(car_dataset.fuel.value_counts())
print(car_dataset.seller_type.value_counts())
print(car_dataset.transmission.value_counts())
print(car_dataset.owner.value_counts())

fuel
1           2153
0           2123
2             40
LPG           23
Electric       1
Name: count, dtype: int64
seller_type
Individual          3244
Dealer               994
Trustmark Dealer     102
Name: count, dtype: int64
transmission
0    3892
1     448
Name: count, dtype: int64
owner
First Owner             2832
Second Owner            1106
Third Owner              304
Fourth & Above Owner      81
Test Drive Car            17
Name: count, dtype: int64

In [80]:
 #encoding the categorical data
#encoding "fuel" column
car_dataset.replace({'fuel': {'Petrol': 0, 'Diesel': 1, 'LPG': 2, 'Electric':3}}, inplace=True)

#encoding "transmission" column
car_dataset.replace({'transmission': {'Manual': 0, 'Automatic': 1}}, inplace=True)

#encoding "owner" column
car_dataset.replace({'owner': {'First Owner': 0, 'Second Owner': 1, 'Third Owner': 2, 'Fourth & Above Owner': 3,'Test Drive Car':4}}, inplace=True) 

#encoding "seller_type" column
car_dataset.replace({'seller_type': {'Dealer': 0, 'Individual': 1,'Trustmark Dealer':2}}, inplace=True)
#checking the distribution of categorical data

In [81]:
car_dataset.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,0,1,0,0
1,Maruti Wagon R LXI Minor,2007,135000,50000,0,1,0,0
2,Hyundai Verna 1.6 SX,2012,600000,100000,1,1,0,0
3,Datsun RediGO T Option,2017,250000,46000,0,1,0,0
4,Honda Amaze VX i-DTEC,2014,450000,141000,1,1,0,1

Spliting the data and traget

In [82]:
X= car_dataset.drop(columns=['name', 'selling_price'], axis=1)
y= car_dataset['selling_price']

In [83]:
print(X)

      year  km_driven  fuel  seller_type  transmission  owner
0     2007      70000     0            1             0      0
1     2007      50000     0            1             0      0
2     2012     100000     1            1             0      0
3     2017      46000     0            1             0      0
4     2014     141000     1            1             0      1
...    ...        ...   ...          ...           ...    ...
4335  2014      80000     1            1             0      1
4336  2014      80000     1            1             0      1
4337  2009      83000     0            1             0      1
4338  2016      90000     1            1             0      0
4339  2016      40000     0            1             0      0

[4340 rows x 6 columns]

In [84]:
print(y)

0        60000
1       135000
2       600000
3       250000
4       450000
         ...
4335    409999
4336    409999
4337    110000
4338    865000
4339    225000
Name: selling_price, Length: 4340, dtype: int64

Splitting Training and test data

In [85]:
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=2)
print(x_train.shape, x_test.shape)
print(y_train.shape, y_test.shape)

(3472, 6) (868, 6)
(3472,) (868,)

In [86]:
x_train.head()

      year  km_driven  fuel  seller_type  transmission  owner
3581  2017      70000     1            1             0      0
4191  2012      72000     1            0             0      0
2450  2017      40000     0            1             1      0
984   2014      70000     1            1             0      0
3546  2018      35000     0            1             0      0

In [87]:
x_test.head()

      year  km_driven  fuel  seller_type  transmission  owner
1149  2016      30000     0            0             0      0
2245  2017      10510     0            0             1      0
4261  2006     100000     1            1             0      1
2865  2014     130000     1            1             1      0
3110  2018      60000     1            1             0      0

In [88]:
y_train.head()

3581    720000
4191    565000
2450    500000
984     325000
3546    300000
Name: selling_price, dtype: int64

In [89]:
y_test.head()

1149     625000
2245     520000
4261     115999
2865    2000000
3110     707000
Name: selling_price, dtype: int64

Model Training

1)Linear regression

In [90]:
# loadind the linear regression model
lin_reg_model = LinearRegression()
# training the linear regression model
lin_reg_model.fit(x_train, y_train)

LinearRegression()

Model EvalUation

In [ ]:
1 # prediction on training data
training_data_prediction = lin_reg_model.predict(x_train)